<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Itens no Cardápio</title>
        <link rel="stylesheet" href="C:\Users\pfvrl\OneDrive\Documentos\Netbeans\Atividade9-PI\src\main\resources\static.css\cardapio.css">
        <link rel="stylesheet" href="C:\Users\pfvrl\OneDrive\Documentos\Netbeans\Atividade9-PI\src\main\resources\static.css\menu.css">
    </head>
    <body>
        <header class="menu">
            <nav class="menu-container">
                <ul class="menu-list">
                    <li><a href="index.html">Início</a></li>
                    <li><a href="paginaCadastroCardapio.html">Cadastro de Cardápio</a></li>
                    <li><a href="cadastroPedido.html">Novo Pedido</a></li>
                    <li><a href="inventario.html">Inventário</a></li>
                    <li><a href="listarPedidos.html">Lista de Pedidos</a></li>
                    <li><a href="listaCardapio.html">Cardápio</a></li>
                    <li><a href="relatorioVendas.html">Relatórios</a></li>
                </ul>
                <button id="logoutButton" class="btn-sair">Sair</button> <!-- Correção do ID -->
            </nav>
        </header>
        <section class="container">
            <h1>Cadastro de Itens no Cardápio</h1>
            <form id="formCardapio">
                <div class="input-group">
                    <label for="itemNome">Nome do Item:</label>
                    <input type="text" id="itemNome" name="itemNome" placeholder="Ex: Hambúrguer">
                </div>
                <div class="input-group">
                    <label for="itemDescricao">Descrição:</label>
                    <textarea id="itemDescricao" name="itemDescricao" placeholder="Ex: Hambúrguer com queijo e bacon"></textarea>
                </div>
                <div class="input-group">
                    <label for="itemValor">Valor:</label>
                    <input type="number" id="itemValor" name="itemValor" placeholder="Ex: 15.90" step="0.01">
                </div>
                <div class="input-group">
                    <label for="tipoItem">Tipo:</label>
                    <select id="tipoItem" name="tipoItem" required>
                        <option value="">Selecione o tipo</option>
                        <option value="ALIMENTO">Alimento</option>
                        <option value="BEBIDAS">Bebidas</option>
                    </select>
                </div>
                <button type="submit" class="btn">Salvar</button>
            </form>
        </section>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="C:\Users\pfvrl\OneDrive\Documentos\Netbeans\openBarWebPI\src\main\resources\static\scriptCadastroCardapio.js"></script>
    </body>
</html>
