<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>OpenBar - Login</title>
        <link rel="stylesheet" href="C:\Users\pfvrl\OneDrive\Documentos\Netbeans\Atividade9-PI\src\main\resources\static.css\style.css" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
  <body>
   <section class="container">
        
        <div class="login-box">
            <h3 class="tituloLogin">Login</h3>
            <form action="/login/autenticar" method="POST">
                <div class="input-group">
                    <input type="text" id="userNome" name="nome" placeholder="Usuário" required>
                    <i class="fas fa-user"></i> 
                </div>
                <div class="input-group">
                    <input type="password" id="userSenha" class="userSenha" name="userSenha" placeholder="Senha" required>
                    <i class="fas fa-lock"></i> 
                </div>
                <button type="submit" class="btn-login">Entrar</button>
            </form>
        </div>

        <div class="welcome-box">
            <h2>Bem Vindo ao OpenBar</h2>
            <p>Gerencie seu negócio de forma fácil e prática.</p>
        </div>
   </section>
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="C:\Users\pfvrl\OneDrive\Documentos\Netbeans\openBarWebPI\src\main\resources\static\scriptLogin.js"></script>
    </body>
</html>
